{% assign news_limit = site.announcements.limit %}
{% if include.limit %}
  {% assign news_limit = site.announcements.limit %}
{% endif %}

<div class="news">
  {% if site.announcements.scrollable %}
    <div class="table-responsive" style="max-height: 60vh;">
  {% endif %}
  
  <table class="table table-sm table-borderless">
    {% assign news_items = site.news | reverse %}
    {% if news_limit %}
      {% assign news_items = news_items | slice: 0, news_limit %}
    {% endif %}
    
    {% for item in news_items %}
      <tr>
        <th scope="row" class="news-date">{{ item.date | date: "%b %-d, %Y" }}</th>
        <td class="news-content">
          {% if item.inline %}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  
  {% if site.announcements.scrollable %}
    </div>
  {% endif %}
</div>
